header{text-align: center;}
#r{color: red;}
#a{color: orange;}
#m{color: black;}
#y{color: blue;}
#a{color: yellow;}
#d{color: green;}
#a{color: #00FFFF;}
#t{color: #0B3B24;}
#l{color: firebrick;}
#a{color: #0404B4;}
