<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
<meta charset = "utf-8">
	<title>Event Registration</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="app.css"/>
</head>
<body>
<div class="container">
	<div class="navbar">
		<div class="navbar-inner">
		<ul class="nav">
		<li><a href="NewEvent.html">Create New Event</a></li>
			
		</ul>
			
		</div>
	</div>
	<div ng-controller="EventController">
	<img ng-src="{{event.imageUrl}}">
		<div class="row">
			<div class="span11">
			<h2>{{event.name}}</h2>
				
			</div>
	   </div>
	   <div class="row">
			<div class="span3">
			<div><strong> Date </strong> {{event.date}} </div>
			<div><strong> Date </strong> {{event.time}} </div>
				
			</div>
	   </div>
	
	<hr/>
	<h3> Sessions </h3>
	Order By:
	<select ng-model ="sortorder" class="input-small">
	<option selected value ="name">Name</option>
	<option value="-upVoteCount">Vote</option>
		
	</select>
	<select ng-model ="query.level" class="input-medium">
	<option selected value ="">All</option>
	<option selected value ="1">Intro</option>
	<option selected value ="2">Med</option>
	<option selected value ="3">Adv</option>
		
	</select>
	    <ul class="thumbnails">
	    	<li ng-repeat="session in event.sessions | orderBy:sortorder | filter:query">
	    	<div class="row session">
	    	   <div class="span0 well votingWidget">
		    	     <div class="votingButton" ng-click="upVoteSession(session)">
		    	     <i class ="icon-chevron-up icon-white"></i></div>
		    	     <div class="badge badge-inverse"><div>{{ session.upVoteCount }}</div></div>
		    	      <div class="votingButton" ng-click="downVoteSession(session)">
		    	     <i class ="icon-chevron-down "></i></div>
	    	   	</div>
	    		<div class="well span9">
	    		<h4 class="well-title"> {{session.name}} </h4>
	    		<h6> {{session.creator}} </h6>
	    		<span>Duration: {{session.duration| durations}} </span><br/>
	    		<span>Level: {{session.level}} </span>
	    			
	    		</div>
	    	</div>
	    		
	    	</li>
	    </ul>
	
	</div>
	
</div>

<script src="jquery.min.js"></script>
<script src="underscore-1.4.4.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="angular/angular.js"></script>
<script src="app.js"></script>
<script src="EventController.js"></script>
<script src="filters.js"></script>
</body>
</html>